@import model.Activity
@import helper._
@(activities: List[Activity], activityForm: Form[Activity])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minhas Atividades</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Assunto</th>
            </tr>
        </thead>
        <tbody>
        @for(activity <- activities){
            <tr>
                <td>@activity.getSubject</td>
                <!--<td><input type="submit" class="" value="Editar"></td>-->
                @form(routes.ActivityController.editActivity(activity.getId)) {
                    <td><input type="hidden" id="id" value="@activity.getId">
                        <input type="submit" value="Editar"></td>
                }
                @form(routes.ActivityController.deleteActivity(activity.getId)) {
                    <td><input type="hidden" id="id" value="@activity.getId">
                    <input type="submit" value="Delete"></td>
                }

                <!--<td><input action="/delete" method="DELETE" type="submit" class="" value="Apagar"></td>-->
            </tr>
        }
        </tbody>
    </table>
</body>
</html>